<html>
<head>
  <title>WikiMessages: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
<div id="container">

  <p style="color: green"><%= flash[:notice] %></p>

  <%= @content_for_layout %>
</div>

</body>
</html>
