<%= link_to "new pet", :action => "new" %>
<%= link_to "list pets", :action => "list" %>
<%= link_to "search pets", :action => "search" %>
<%= link_to "new kennel", :controller => "kennels", :action => "new" %>
<%= link_to "list kennels", :controller => "kennels", :action => "list" %>
