<!--BEGIN MAIN CONTENT-->


<div id="contentbox">

<h2>Assign kennel</h2>

<br/>
<p>Assign pet to which kennel?</p>

<table>
<% @kennels.each { |k| %>
<tr><td>
<%=  link_to "#{k.last_name}, #{k.first_name}", :action => 'updatekennelto', :id => @pet.id, :params => { 'kenid' => k.id } %>
</td></tr>
<% } %>
</table>

</div>
