<!--BEGIN MAIN CONTENT-->


<div id="contentbox">

<h2>Editing pet</h2>

<br/>
<%= link_to "Assign or change kennel", :action => 'changekennel', :id => @pet %>
<br>
<%= start_form_tag :action => 'update', :id => @pet %>
  <%= render_partial 'form' %>
  <div id="submit"><%= submit_tag 'Update' %></div>
<%= end_form_tag %>
</div>
