<!--BEGIN MAIN CONTENT-->


<div id="contentbox">

<h2>Editing pet</h2>

<br/>
<%= link_to "Assign or change kennel", :action => 'changekennel', :id => @pet.id %>
<br>
<%= start_form_tag :action => 'update', :id => @pet %>
  <%= render_partial 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>
</div>
