<!--BEGIN MAIN CONTENT-->


<div id="contentbox">

<h2>New pet</h2>

<br/>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
      <div ><%= submit_tag "Create Pet" %></div>
<%= end_form_tag %>
</div>
