<% for column in EmailForward.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @email_forward.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @email_forward %> |
<%= link_to 'Back', :action => 'list' %>
