/* CSS Document */

body   {
background:#f1f1f1;
font-family:verdana,arial, sans-serif;
}

#mainbox    {

width:830px;
background: #fff;
margin:auto;
border: 1px solid #cccccc;
}

#header   {
height:130px;
background:url(header.gif);
}

#sitetitle {
font-family:verdana,arial, sans-serif;
font-size:200%;
font-weight: bold;
padding-top: 1em;
padding-right: .5em;
padding-left: .5em;
padding-bottom: .5em;
color:#fff;
text-align:left;
}

#mainnav {
 margin-top: 22px;
 font-weight: bold;
 padding-right: 15px;
 font-family:verdana,arial, sans-serif;
 font-size: 80%;
 color: #ffffff;
 text-align: right;
}

#mainnav a {
 color: #ffffff;
 text-decoration: none;
 padding-left: 5px;
 padding-right: 5px;
}

#mainnav a:hover {
 color: #aaffaa;
 text-decoration: none;
 padding-left: 5px;
 padding-right: 5px;
}

/*  SIDE BAR PROPERTIES  */

#sidebar  {

margin: 0; padding: 0;
width: 150px;
float:right;
padding-right:20px;
margin-top:20px;
padding-left:20px;
font-family:verdana,arial, sans-serif;
font-size:75%;
line-height:1.5em;
border-left:1px solid #eeeeee;
}

#sidebar  b  {
font-family:verdana,arial, sans-serif;
font-size:105%;
color:#3879ff;
text-decoration:none;
}

#sidebar a   {
color:#989898;
text-decoration:none;
}

#sidebar a:hover  {
text-decoration:none;
color:#33cc33;
}

/*    MAIN CONTENT PROPERTIES   */

#contentbox   {

float:left;
text-align:left;
width:70%;
font-size:80%;
font-family: verdana, times new roman, helvetica, arial, sans-serif;
padding-left: 35px;
padding-right: 10px
padding-bottom: 40px;
line-height:1.1em;


}

#contentbox h2  {
font-family:verdana,arial, sans-serif;
font-size:110%;
color:#3879ff;
}

#contentbox h3  {
  font-family:verdana, helvetica, arial, sans-serif;
  display:block;
  font-size:11px;
  padding:0 3px;
  line-height:1.5em;
  width:auto;
  text-align:left;
  border-bottom:1px dotted #CCC;
  color:#333;
}


#contentbox a  {
color:#3879ff;
text-decoration:none;
}

#contentbox a:hover  {
color:#33cc33;
text-decoration:none;
}


#footer  {
text-align:center;
font-family:verdana,arial, sans-serif;
color:#383838;
padding-top:5px;
text-decoration:none;
font-size:10px;
border-top:1px solid #eeeeee;
}

#footer   a  {
text-decoration:none;
color:#383838;

}

#footer   a:hover  {
text-decoration:none;


}

/* Commence hack IE5-Mac \*/
#nav-menu li a
{
float: none
}

/* End IE5-Mac hack */

/* CSS Document */

td {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #fcfcfc;
}

table {
 font-size: 85%;
 border: 1px solid #eeeeee;
}

th, .shade {
 background: #f4f4f4;
 font-weight: bold;
 color: #333333;
}

#section1 {
  float:left;
  width:340px;
  padding-right: 35px;
  text-align:right;
  line-height:2.5em;
}
#section2 {
  float:left;
  width:200px;
  text-align:left;
  line-height:2.5em;
}
.notice {
  margin-left: 10px;
  color: green;
  font-size: 13px;
}

#section1 em, #section2 em {
  color: red;
}

#submit {
  clear:both;
  border-top:1px dashed #CCC;
  padding-top: 5px;
}

.nextprev {
  font-size: 10px;
}

input, textarea {
 font-family: verdana, arial, sans-serif;
 font-size: 11px;
}
