<table><tr>
<td><%= link_to "rdata", :controller => "people", :action => "search" %></td>
<td><%= link_to "new pet", :controller => "pets", :action => "new" %></td>
<td><%= link_to "list pets", :controller => "pets", :action => "list" %></td>
<td><%= link_to "search pets", :controller => "pets", :action => "search" %></td>
<td><%= link_to "new kennel", :controller => "kennels", :action => "new" %></td>
<td><%= link_to "list kennels", :controller => "kennels", :action => "list" %></td>
</tr>
</table>
