<div id="mainnav">
<%= link_to "rdata", :controller => "people", :action => "search" %> | 
<%= link_to "pets", :controller => "pets", :action => "list" %> | 
<%= link_to "kennels", :controller => "kennels", :action => "list" %> | 
<a href="">About</a> <!-- TODO: Add a about page for the application GG -->
</div>