<div id="sidebar">
<b>Pets</b>  <br />
<%= link_to 'New pet', :controller => "pets", :action => 'new' %><br />
<%= link_to 'List pets', :controller => "pets", :action => 'list' %><br />
<%= link_to 'Search pets', :controller => "pets", :action => 'search' %><br />
<br /><br />
<b>Kennels</b><br />
<%= link_to "New kennel", :controller => "kennels", :action => "new" %><br />
<%= link_to "List kennels", :controller => "kennels", :action => "list" %><br />
</div>