<html>
<head>
  <title>Pets: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'rpet' %>
</head>
<body>

<div id="mainbox">
<div id="header">
<div id="sitetitle">rPet</div>
<%= render_partial "shared/nav" %>
</div>


<br />


<!--BEGIN TOP NAVIGATION-->

<!--  DO NOT ERASE the NEXT piece of coding. It is very important.-->
<div style="clear: both" id="blank"/>


<p class="notice"><%= flash[:notice] %></p>


<%= render_partial "shared/sidenav" %>

<%= @content_for_layout %>

<br />

<div style="clear:both;">
<%= render_partial "shared/footer" %>
</div>
<br />

</div>

</body>
</html>
