<h1>Editing wiki_message</h1>

<%= start_form_tag :action => 'update', :id => @wiki_message %>
  <%= render_partial 'form' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @wiki_message %> |
<%= link_to 'Back', :action => 'list' %>
