<%= error_messages_for 'watch' %>

<!--[form:watch]-->
<p><label for="watch_email">Email</label><br/>
<%= text_field 'watch', 'email'  %></p>

<p><label for="watch_notes">Notes</label><br/>
<%= text_field 'watch', 'notes'  %></p>

<p><label for="watch_created_at">Created at</label><br/>
<%= datetime_select 'watch', 'created_at'  %></p>
<!--[eoform:watch]-->

