<% for column in Watch.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @watch.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @watch %> |
<%= link_to 'Back', :action => 'list' %>
