<h1>Editing supply</h1>

<%= error_messages_for 'supply' %>
<%= form 'supply', :action => 'update' %>

<%= link_to 'Show', :action => 'show', :id => @supply.id %> |
<%= link_to 'Back', :action => 'list' %>
