<body onload="document.forms[0].elements[0].focus();">
<h1>New supply</h1>

<%= error_messages_for 'supply' %>
<%= form 'supply', :action => 'create' %>

<%= link_to 'Back', :action => 'list' %>
</body>
