Dear <%= @volname %>,

<%= @name %> (<%= @login %> on the AsiaQuake.org relief help website) has requested that you be sent the following message:

Subject: <%= @subject %>

<%= @bodytxt %>

------

Please enjoy this message from AsiaQuake.org.

