<html>
<head>
<title>Locations</title>
</head>

<body>

<h4><%= link_to("New location", { :action => "new" } ) %> </h4>
<% 
  @loc = Location.find(1) unless @loc
	uplink = ''
  dellink = ''
	if @loc.hasParent?
		uplink = "<h4>"+link_to("Up", { :action => "show", :id => @loc.parent } )+"</h4>"
	end
  editlink = "<h4>"+link_to("Edit #{@loc.to_s}", { :action => "edit", :id => @loc.id } )+"</h4>"
  if @loc.children.size == 0
		dellink = "<h4>"+link_to("Delete #{@loc.to_s}", { :action => "destroy", :id => @loc.id } )+"</h4>"
  end
%>
<h2>
<%= @loc.htmlName %>
</h2>
<br>

<h3>
<%= @loc.prompt %> <br>
Node id =<%=@loc.id %> <br>
flags = <%= @loc.flags %> <br>
</h3>
<%= uplink %>
<%= dellink %>
<%= editlink %>
<% @loc.children.each { |c| %>
<%= link_to(c.htmlName, :action => "show", :id => c.id) %>
<br>
<% } %>
<%= uplink %>


</body>
</html>
